.topBar{
  position:fixed;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  height: 54px;
  z-index: 10;
  background-color: #fcfcfc;
  border-bottom: 1px solid #d8d8d8;
}
.pageTitle{
  font-size: 20px;
  width: 20%;
}
.thisPage{
  font-size: 20px;
  width: 80%;
  text-align: center;
}

.leftBar{
  position:fixed;
  top: 54px;
  right: 0;
  left: 0;
  height: 100%;
  width: 100px;
  z-index: 9;
  background-color: #fcfcfc;
  border-right: 1px solid #d8d8d8;
}