html, body{
  margin: 0;
  height: 100%;
}
.topBar{
  position:fixed;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  height: 54px;
  z-index: 10;
  background-color: #fcfcfc;
  border-bottom: 1px solid #d8d8d8;
}
.pageTitle{
  font-size: 20px;
  width: 20%;
}
.thisPage{
  font-size: 20px;
  width: 80%;
  text-align: center;
}

.leftBar{
  position:fixed;
  top: 54px;
  right: 0;
  left: 0;
  height: 100%;
  width: 130px;
  z-index: 9;
  background-color: #fcfcfc;
  border-right: 1px solid #d8d8d8;
}

.moveButton{
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}
.moveButtonTitle{
  font-size: 20px;
}
.moveButtonIcon{
  font-size: 10px;
  padding-left: 10px;
}

.mainContainer{
  position:relative;
  width: calc(100% - 130px);
  height: calc(100% - 54px);
  background-color: #e5e6eb;
  top: 54px;
  left: 130px;
}