<div class="leftBar">
    <div class="moveButton">
        <div class="moveButtonTitle">
            Dashboard
        </div>
        <div class="moveButtonIcon">
            <i class="bi bi-forward-fill"></i>
        </div>
    </div>
    <div class="moveButton">
        <div class="moveButtonTitle">
            Dashboard
        </div>
        <div class="moveButtonIcon">
            <i class="bi bi-forward-fill"></i>
        </div>
    </div>
    <div class="moveButton">
        <div class="moveButtonTitle">
            Dashboard
        </div>
        <div class="moveButtonIcon">
            <i class="bi bi-forward-fill"></i>
        </div>
    </div>
</div>