<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>LTW</title>
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <%-include ('../../layout/topBar/index.ejs');%>
</body>
</html>