<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css">
    <link type="text/css" rel="stylesheet" href="modules/icon/font/bootstrap-icons.css">
</head>
<body>
    <%-include ('../../layout/topBar/index.ejs');%>
    <div class="leftBar">
        <div clas="movePage">
                Dashboard
                <i class="bi bi-forward-fill"></i>
        </div>
    </div>
</body>
</html>