<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>LTW</title>
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css">
    <link type="text/css" rel="stylesheet" href="modules/icon/font/bootstrap-icons.css">
</head>
<body>
<%- include ('../../layout/topBar/index.ejs'); %>
<%- include ('../../layout/leftBar/index.ejs'); %>
</body>
</html>